{%include 'clinic/header.html' %}

{% for raw in data %}
<section class="about py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-md-5 mb-4">
				<h3 class="w3ls-title text-uppercase text-bl font-weight-bold">{{raw[1]}}</h3>
				<h3 class="w3ls-title-sub">{{raw[5]}}</h3>
			</div>
			<div class="row">
				<div class="col-lg-6 agileits_works-grid">
					<div class="wthree-bottom">
						<h3 class="w3ls-title-sub">Phone:{{raw[7]}}</h3>
						<!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, eaque ipsa
							quae ab illo inventore veritatis et quasi architecto.</p> -->
						<h3 class="w3ls-title-sub">Email:{{raw[8]}}</h3>	
					</div>
				</div>
				<div class="col-lg-6 agileits_works-grid1 mt-lg-0 mt-sm-5 mt-4">
					<img src="../static/puppy.jpg" alt="" class="img-fluid" />
				</div>
			</div>
		</div>
	</section>
{% endfor %}

{% include 'clinic/footer.html'%}
