{%include 'admin/header.html' %}
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">


</head>

<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
      <th class="th-sm">Name
      </th>
      <th class="th-sm">Clinic Registration Number
      </th>
      <th class="th-sm">Place
      </th>
      <th class="th-sm">phone 
      </th>
      <th class="th-sm">pincode
      </th>
      <th class="th-sm">Email
      </th>
    </tr>
  </thead>
  <tbody>
  	{% for c in cliniclist %}

    <tr>
      <td>{{c[0]}}</td>
      <td>{{c[1]}}</td>
      <td>{{c[2]}}</td>
      <td>{{c[3]}}</td>
      <td>{{c[4]}}</td>
      <td>{{c[5]}}</td>
      
    </tr>
    {% endfor %}
</tbody>
</table>
<button class="btn btn-primary" onclick="print()">Print</button>

 
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="/static/js/print.js"></script>
<script>
	$(document).ready(function() {
    $('#example').DataTable();
} );
	function print(){
$('#example').printThis();
	}
</script>






