<!DOCTYPE HTML>
<html>

<head>
<title>PET SAKE | ADMIN</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<!-- <link href="static/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' /> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Custom CSS -->
<link href="static/admin/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="static/admin/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />

	<div class="left-content">
	   <div class="inner-content">
		
			<div class="header-section">
			<!-- top_bg -->
						<div class="top_bg">
							
								<div class="header_top">
									<div class="top_right">
										<ul>
										
										</ul>
									</div>
									<div class="top_left">
										


										<div class="create_btn">
											<a href="/login1">LOGOUT</a>
										</div>
									</div>
										<div class="clearfix"> </div>
								</div>
							
						</div>
					<div class="clearfix"></div>
				<!-- /top_bg -->
			
	
	<div class="sidebar-menu">
					<header class="logo1">
						<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
					</header>
						<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                           <div class="menu">
									<ul id="menu" >
										<li><a href="/showadminhome"><i class="fa fa-tachometer"></i> <span>Home</span></a></li>
										 <li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> Registration</span> <span class="[-fa fa-angle-right" style="float: right"></span></a>
										   <ul id="menu-academico-sub" >
										   <li id="menu-academico-avaliacoes" ><a href="/showspecies">Species</a></li>
											<li id="menu-academico-avaliacoes" ><a href="/showbreed">Breed</a></li>
										  </ul>
										</li>
										 <li id="menu-academico" ><a href="/showschemes"><i class="fa fa-file-text-o"></i> <span>Add schemes</span></a></li>
									<li><a href="/showvaccination"><i class="lnr lnr-pencil"></i> <span>Add Vaccination</span></a></li>
									
									<li><a href="/showadmincomp"><i class="lnr lnr-chart-bars"></i> <span>View Complaints</span> <span class="fa fa-angle-right" style="float: right"></span></a>

										<li><a href="/showcliniclist"><i class="lnr lnr-chart-bars"></i> <span>Clinic Verification</span> <span class="fa fa-angle-right" style="float: right"></span></a>
										 <li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> User Reports</span> <span class="fa fa-angle-right" style="float: right"></span></a>
										   <li id="menu-academico-avaliacoes" ><a href="/showuserreport">Users</a></li>
											<li id="menu-academico-avaliacoes"><a href="/showclinicreport">Clinic</a></li>
											<li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> Appointment Reports</span> <span class="fa fa-angle-right" style="float: right"></span></a>
										   <ul id="menu-academico-sub" >
										   <li id="menu-academico-avaliacoes" ><a href="/showpetreport">Pet</a></li>
											<li id="menu-academico-avaliacoes" ><a href="/showfarmreport">Farm</a></li>
									  
									</li>
								  </ul>
								</div>
							  </div>
							</li>
						</li>
					</li>
				</li>
			</ul>
		</div>
		</div>

<div style="margin-left: 50px;margin-top: 50px">
	

