<html>
<head>
	<title>Login</title>
	<center><h1>Login Form</h1></center>
<!-- <link rel="stylesheet" type="text/css" href="login.css" /> -->
</head>
<form method=POST action="/login">
<center>
<body>
<table>
	<tr>
		<td>Username 
		<input type= text name="txtuname" placeholder="Enter mailid"></td>
 	</tr>
 	<tr>
		<td>Password 
	<input type=password name="txtpasswd"></td>
 	</tr>
 	<tr><td><a href="">forgot password</td></tr>
 	<tr>
 		<td>
		<input type=submit name="submit" value="Login"></td>
    </tr>
    <tr>
		<td><input type=submit name="Newuser" value="New user">
		</td>
    </tr>
    </body>
</table>
<center>
</html>