{%include 'clinic/header.html' %}
    <!-- //second header -->

    <!-- banner -->
    
  <!-- //main -->

  <!-- page details -->
  <div class="breadcrumb-agile py-1">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Register</li>
    </ol>
  </div>
  <!-- //page details -->

  <!-- register -->
  <section class="logins py-5">
    <div class="container py-xl-5 py-lg-3">
      <div class="title-section mb-md-5 mb-4">
        <h6 class="w3ls-title-sub">LIVESTOCK INSPECTOR</h6>
        <h3 class="w3ls-title text-uppercase text-dark font-weight-bold">Register Now</h3>
      </div>
      <div class="login px-sm-4 mx-auto mw-100 login-wrapper">
        <form class="login-wrapper" enctype="multipart/form-data" action="/savelireg" method="post">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" pattern="[a-zA-Z][a-zA-Z\s]*" name="txtlname" placeholder="" required="">
          </div>
                                        <div class="form-group">
            <label>Gender</label>
            <label class="radio-inline"><input type="radio" name="gender"value="Male" placeholder="" required="">Male</label>
                                               <label class="radio-inline"> <input type="radio"  name="gender"value="Female" placeholder="" required="">Female</label>
          </div>

          <div class="form-group">
            <label for="sel1">State</label>
          <select class="form-control" name="state" onchange="getState(this.value)" required="">
          <option selected>--------SELECT--------</option>
          {% for s in  state  %}
          <option value={{s[0]}}>{{s[1]}}</option>
          {% endfor %}
          </select>
          </div>
          <div id="dis">
          <div class="form-group">
            <label for="sel1">District</label>

          <select name="district" class="form-control" required="">
          <option value="">------SELECT-----</option>
          </select>
        </div>
      </div>

          <br>
 <div class="form-group">
          <label>Photo</label>
          <input class="form-control"  name="file" type="file" accept="image/*" onchange="loadFile(event)" required="">
          <br>
          <img style="max-width: 200px;max-height: 200px" id="output"/>
          <script>
           var loadFile = function(event) {
                var reader = new FileReader();
                reader.onload = function(){
                 var output = document.getElementById('output');
                  output.src = reader.result;
               };
                reader.readAsDataURL(event.target.files[0]);
              };
          </script>

</div>
<div class="form-group">
            <label>Place</label>
            <input type="text" class="form-control" name="txtplace" placeholder="" required="" pattern="[a-zA-Z][a-zA-Z\s]*">
          </div>

                                       <div class="form-group">
            <label>DOB</label>
          <!--  <input size="16" type="text" value="" readonly>
    <span class="add-on"><i class="icon-th"></i></span> -->
    
    <input  id="datepicker" type="date" name="txtdate" class="form-control"/ required="">
              <!-- <script>
                    $('#datepicker').datepicker({
                         uiLibrary: 'bootstrap4'
                       });
              </script> -->
              <!-- <input id="datefield" type='date' min='1899-01-01' max='2000-13-13'></input> -->
             <script type="text/javascript">
                
            
      var date = new Date();
                date.setDate(date.getDate()-365*22);
              

var dd = date.getDate();
var mm = date.getMonth()+1; 
var yyyy = date.getFullYear();
 if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 

date = yyyy+'-'+mm+'-'+dd;
document.getElementById("datepicker").setAttribute("max", date);
              </script>

          </div>
                                        <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" name="txtphn" pattern="[0-9]{10}" maxlength="10" placeholder="" required="">
          </div>

          <div class="form-group">
            <label>Permanent Employee no.</label>
            <input type="text" class="form-control" name="txtpen" maxlength="7" pattern="[a-zA-Z0-9 ]+" placeholder="" required="">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="txtemail" placeholder="" required="">
          </div>
                                              
         
          <div class="form-group">
            <label class="mb-2">Password</label>
            <input type="password" class="form-control" name="txtpswrd" id="password1" placeholder="" required="">
          </div>
          <div class="form-group mb-4">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="txtconpasswd" id="password2" placeholder="" required="">
          </div>
          <div id="msg">Password doesn't match</div>
            <div class="form-group" >
            <label>Security Question</label>
                        <select name="txtquestion" class="form-control" required="">
                    <option selected>--------SELECT--------</option>
              <option value="Which is your favorite book?">Which is your favorite book?</option>
              <option value="What is the name of your first School">What is the name of your first School</option>
            </select>
          </div>
           <div class="form-group">
            <label>Answer</label>
            <input type="password" class="form-control" name="txtans" placeholder="" required="">
          </div>
          <button type="submit" class="btn submit mt-4">Register</button>
          <p class="text-center mt-5">f
            <a href="#">By clicking Register, I agree to your terms</a>
          </p>
        </form>
      </div>
    </div>
  </section>
  <!-- //register -->

  <!-- footer -->
  <footer class="py-5">
    <div class="container py-xl-5 py-lg-3">
      <div class="row">
        <div class="col-lg-7 w3l-footer">
          <!-- logo -->
          <div class="logo2">
            <h2>
              <a href="index.html">
                <span class="fa fa-user-md mr-2"></span>
                <span class="logo-sp">PET</span>SAKE
              </a>
            </h2>
          </div>
          <!-- //logo -->
          <p class="mt-4 text-li">The main aim of" PET SAKE " is to provide services to cattle farmers and pet lovers. It maintains the details of various veterinary doctors and livestock inspectors. It provides the facilities to appoint a doctor via online</p>
          <ul class="list-unstyled list-styles mt-lg-5 mt-4">
            <li>
              <p class="text-li"><span class="fa fa-location-arrow mr-2"></span>YAS complex,muvattupuzha</p>
            </li>
            <li class="my-3">
              <p class="text-li"><span class="fa fa-phone mr-2"></span>1234567890</p>
            </li>
            <li>
              <a href="mailto:info@example.com" class="text-wh"><span class="fa fa-envelope-open mr-2"></span>petsake123@gmail.com</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-5 w3l-footer mt-lg-0 mt-5">
          <h3 class="mb-sm-4 mb-3 text-wh">Partners</h3>
          <ul class="list-unstyled list-part text-wh pt-lg-3">
            <li><span class="fa fa-500px" aria-hidden="true"></span></li>
            <li class="mx-4"><span class="fa fa-gg" aria-hidden="true"></span></li>
            <li><span class="fa fa-lastfm" aria-hidden="true"></span></li>
            <li class="mx-4"><span class="fa fa-openid" aria-hidden="true"></span></li>
            <li><span class="fa fa-angellist" aria-hidden="true"></span></li>
          </ul>
          <div class="n-right-w3ls mt-5 pt-lg-4">
            <h3 class="mb-sm-4 mb-3 text-wh">Newsletter</h3>
            <form action="#" method="post">
              <div class="row pt-2">
                <div class="col-8 form-group">
                  <input class="form-control" type="email" name="Email" placeholder="Email Address" required="">
                </div>
                <div class="col-4 form-group p-sm-0 pl-0">
                  <button class="form-control submit btn font-weight-bold" type="submit">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- //footer -->

  <!-- footer bottom -->
  <!-- copyright -->
  <div class="copy-w3pvt">
    <div class="container py-3">
      <div class="row">
        <div class="col-lg-7 w3ls_footer_grid1_left text-lg-left text-center">
          <p>&copy; 2019 Pet Sake. All rights reserved | Design by
            <a href="http://w3layouts.com/">W3layouts</a>
          </p>
        </div>
        <div class="col-lg-5 w3ls_footer_grid_left1_pos text-lg-right text-center mt-lg-0 mt-2">
          <ul>
            <li>
              <a href="#" class="facebook">
                <span class="fa fa-facebook-f mr-2"></span>Facebook</a>
            </li>
            <li class="mx-3">
              <a href="#" class="twitter">
                <span class="fa fa-twitter mr-2"></span>Twitter</a>
            </li>
            <li>
              <a href="#" class="google">
                <span class="fa fa-google-plus mr-2"></span>Google Plus</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- //copyright -->
  <!-- //footer bottom -->
  <!-- move top icon -->
  <a href="#home" class="move-top text-center"></a>
  <!-- //move top icon -->

</body>
</form>
</html>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
  
  function getState(state){
   $.post('/getDistrict', {state:state}, function(response){ 
      // alert("success");
      $("#dis").html(response);
});
 }
   var passcomapre=false
   var msg=document.getElementById('msg')
   msg.style["display"]="none"
  function checkpass(){
    var pass=document.getElementById('password').value
    var repass=document.getElementById('repassword').value
    var msg=document.getElementById('msg') 
    msg.style["display"]="none"
    if(repass!="" &&  pass!="")
      if(repass==pass)
      {
        msg.style["display"]="none"
        passcomapre= true
      }
      else
      {
        passcomapre= false
        msg.style["display"]="block"
      }
    
  }
  function checkcompare(){
    return passcomapre
  }
</script>